@import 'var.scss';

// * {
//     border: 1px solid black;
// }

html {
    scroll-behavior: smooth;
}

body {
    background-color: $primary-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $dark-color;
    // overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

button {
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    background-image: linear-gradient(-25deg , $first-color , $second-color);
    box-shadow: 2px 2px 4px $first-color , -2px -2px 4px $second-color;
    color: $light-color;
    transition: .5s;

    &:hover {
        transform: scale(.9);
        box-shadow: none;
    }
}

section {
    padding: 20px 80px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer .row {
    align-items: baseline;
}

.col {
    flex: 1;
}

.container {
    padding: 40px 60px;
}

.heading {
    text-transform: uppercase;
    color: $primary-color;
    text-shadow: -1px -1px 2px $light-color , 1px 1px 3px $medium-color;
    font-size: 32px;
    text-align: center;
}

.card-style {
    text-align: center;
    height: 240px;
    width: 240px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px $medium-color , -5px -5px 10px $light-color;
    margin: 20px auto;
    
    .card-img {
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-subtitle {
        font-size: 18px;
    }
}



// navbar
.navbar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding: 4px;
    padding-left: 10px;
    background-color: $first-color;
    z-index: 1000000;

    ul {
        text-align: right;
        margin-right: 20px;
    }
    
    li {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 12px;
        color: $light-color;
        font-size: 15px;
        font-weight: bold;
    }

    .icon {
        width: 40px;
        height: 40px;
        position: fixed;
        right: 5%;
        top: 6px;
        transition: .8s;

        :hover {
            cursor: pointer;
        }
        
        span {
            position: absolute;
            height: 5px;
            width: 100%;
            border-radius: 4px;
            background-color: $light-color;
            transition: .6s ease-in-out;
        }
    
        span:nth-child(1) {
            top: 3px;
        }
        span:nth-child(2) {
            top: 14px;
        }
        span:nth-child(3) {
            top:26px;
        }
    
        &.open span:nth-child(1) {
            top: 18px;
            transform: rotate(-45deg);
        }
        &.open span:nth-child(2) {
            transform: rotateX(-90deg);
        }
        &.open span:nth-child(3) {
            top: 18px;
            transform: rotate(45deg);
        }
    }

}

// sidbear
.sidebar {
    position:fixed;
    top:0;
    bottom: 0;
    left:0;
    width: 260px;
    background-color: $light-color;
    z-index: 2000000;
    box-sizing: border-box;
    transform: translateX(-270px) scaleX(.1);
    
    img {
        margin-bottom: 20px;
    }

    li {
        display: block;
        text-transform: uppercase;
        font-size: 20px;
        text-align: left;
    }
}


// jumbotron 
.jumbotron {
    text-align: center;
    padding: 80px 60px;
    background-image: linear-gradient($first-color , $second-color);

    img {
        margin-bottom: 14px;
    }

    h1 {
        text-transform: uppercase;
    }
    
}


// tentnag
.tentang {
    .col img {
        display: flex;
        justify-content:center;
    }
}




// footer
.footer    {
    
    img {
        display: block;
        margin: 20px auto;
    }
    
    ul.sosmed-menu {
        display: block;
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }
    
    .sosmed-item {
        display: inline-block;
        font-size: 28px;
        color: white;
        margin: 8px;
        text-shadow: $shadow;
        transition: .6s;
    }

    .sosmed-item:hover {
        text-shadow:none;
    }

    .title-footer {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 22px;
    }

    .col ul {
        margin-left: -40px;
    }

    footer {
        position:relative;
        padding: 10px;
        margin-left: -61px;
        margin-right: -61px;
        text-align: center;
        border-top: 2px solid $medium-color;
    }
}



@media (max-width: 900px) {
    .navbar {
        ul {
            display: none
        }

        .icon {
            display: block;
        }
    }

    .container {
        padding: 0px;
    }

    .tentang p {
        min-width: 300px;
    }

    .footer .row {
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;

        ul.sosmed-menu {
            width: 80%;

            .sosmed-item {
                font-size: 18px;
            }
        }
    }
    
    footer {
        width: 100%;
        font-size: 12px;
    }
}


.tentang p , .tentang img , .jurusan .card-style , .fasilitas .card-style {
    opacity: 0;
}


// animasi

@keyframes sidebarAppear {

    60% {
        transform: translateX(20px) scaleX(1.2);
    }
    
    85% {
        transform: translateX(-12px) scaleX(.97);
    }

    93% {
        transform: translateX(6px) scaleX(1);
    }
    
    100% {
        transform: translateX(0px) scaleX(1);
    }
}
@keyframes sidebarHidden {
    0% {
        transform: translateX(0px) scaleX(1);
    }
    
    100% {
        transform: translateX(-260px) ;
    }
}

@keyframes landingLeft {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }

    100% {
        transfrom: translateX(0px);
        opacity: 1;
    }
}
@keyframes landingRight {
    0% {
        transform: translateX(80px);
        opacity: 0;
    }

    100% {
        transfrom: translateX(0px);
        opacity: 1;
    }
}

@keyframes landingTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}