

$primary-color: #dfe7f4;
$light-color: #fafcff;
$medium-color: #7998bc;
$dark-color: #22304a;

$first-color: #4679cc;
$second-color: #46ccb3;

$shadow : 2px 2px 10px $medium-color , -5px -5px 10px $light-color;